<div class = "container-xxl bd-gutter mt-3 my-md-4 bd-layout">
  <p class="fs-1">
  <h1>Роздоділ Бейтс</h1>
  </p>
  <p class="text-justify fs-5">
    У ймовірній та бізнес-статистиці розподіл Бейтса, названий на честь Грейс Бейтс, є розподілом ймовірностей середнього числа статистично незалежних рівномірно розподілених випадкових змінних на одиничному інтервалі.
    Розподіл Бейтса іноді плутають із розподілом Ірвіна–Холла, який є розподілом суми (а не середнього) n незалежних випадкових величин, рівномірно розподілених від 0 до 1. Таким чином, два розподіли є просто версіями кожного інші, оскільки вони відрізняються лише масштабом.
  </p>
  <p class="text-justify fs-5">
    Цей розподіл пов’язаний з рівномірним, трикутним і нормальним розподілом Гаусса і має застосування в техніці мовлення для покращення сигналу.
  </p>
  <p class="text-justify fs-5">
    Розподіл Бейтса — це безперервний розподіл ймовірностей середнього значення X з n незалежних рівномірно розподілених випадкових величин на одиничному інтервалі Uk:
  </p>
  <p class="text-center fs-5">
    <br><%= image_tag("mean.png") %><br>
  </p>
  <p class="text-justify fs-5">
    Рівняння, що визначає функцію щільності ймовірності випадкової величини X розподілу Бейтса, таке
  </p>
  <p class="text-center fs-5">
    <br><%= image_tag("pdf.png") %><br>
  </p>
  <p class="text-justify fs-5">
    Графік щільності розподілу виглядає наступним чином:
  </p>
  <p class="text-center fs-5">
    <br><%= image_tag("pdf_chart.png", size: "500x500") %><br>
  </p>
  <p class="text-justify fs-5">
    Функція розподілу ймовірностей (CDF) має наступний вигляд:
  </p>
  <p class="text-center fs-5">
    <br><%= image_tag("cdf.png") %><br>
  </p>
  <p class="text-justify fs-5">
    Графік функції розподілу виглядає наступним чином:
  </p>
  <p class="text-center fs-5">
    <br><%= image_tag("cdf_chart.png", size: "500x500") %><br>
  </p>
  <p class="text-justify fs-5">
    Дисперсія вираховується за формулою:
  </p>
  <p class="text-center fs-5">
    <br><%= image_tag("variance.png") %><br>
  </p>

  <p class="text-justify fs-5">
    З деякими модифікаціями розподіл Бейтса охоплює рівномірний, трикутний і, взявши межу, коли n прямує до нескінченності, також нормальний розподіл Гаусса.
  </p>
  <p class="text-justify fs-5">
    Заміна терміна <%= image_tag("1.png") %> під час обчислення середнього X на <%= image_tag("2.png") %> створить подібний розподіл із постійною дисперсією, наприклад одиницею. Потім, шляхом віднімання середнього значення, отримане середнє значення розподілу буде встановлено на нуль. Таким чином, параметр n став би чисто параметром, що регулює форму. Якщо також дозволити n бути нецілим числом, можна створити дуже гнучкий розподіл, наприклад, U(0,1) + 0,5U(0,1) дає трапецієподібний розподіл.
  </p>
  <p class="text-justify fs-5">
    Розподіл Стьюдента забезпечує природне розширення нормального розподілу Гауса для моделювання даних з довгим хвостом. Розподіл Бейтса, який був узагальнений, як зазначено раніше, виконує ту саму мету для даних короткого хвоста.
  </p>
  <p class="text-justify fs-5">
    Розподіл Бейтса має застосування для формування променя та синтезу шаблонів у галузі електротехніки. Було виявлено, що розподіл збільшує ширину променя головної пелюстки, що представляє збільшення сигналу діаграми спрямованості в одному напрямку, одночасно зменшуючи зазвичай небажані рівні бічних пелюсток.
  </p>
</div>
